body{
    margin:50px;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    max-width: 500px;
    background-color:rgb(244, 226, 226);
    margin: auto;
    padding: 20px 10%;
    border-radius: 10px;
    box-shadow: rgb(173, 159, 159);
}
form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
input [type="text"],
input [type="text"]{
    padding: 10px;
    border: 2px solid black;
    outline: none;
    border-radius: 8px;
}
button{
    background-color: rgb(116, 163, 100);
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    color: aliceblue;
    cursor: pointer;
}
button:hover{
    transform:scale(1.05);
    color: rgb(227, 238, 234);
}

.expense-table{
    border: 2px solid beige;
    border-radius: 8px;
    box-shadow: 0px 4px 8px;
    overflow: none;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table{
   width: 100%;
   border-collapse: collapse;
}
thead tr{
    color: darkolivegreen;
    text-align: left;
    padding: 10px;
}
tbody td{
    padding: 10px;
    border-top: 2px solid rgb(211, 235, 183);
}
.delete-botton{
    color: red;
    cursor: pointer;
}
.total-amount { 
    padding: 10px; 
    text-align: right; 
    background-color: #f2f2f2; 
}